In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("서울특별시 광진구_연령별인구현황_20230101.csv", encoding= 'cp949')

In [3]:
df = df.set_index(keys = '연령')

In [4]:
df = df.drop(['데이터기준일자'], axis=1)

In [5]:
df

,광진구,중곡제1동,중곡제2동,중곡제3동,중곡제4동,능동,구의제1동,구의제2동,구의제3동,광장동,자양제1동,자양제2동,자양제3동,자양제4동,화양동,군자동
연령,,,,,,,,,,,,,,,,
0세,1198,56,67,61,83,53,83,76,148,89,66,122,143,58,35,58
1세,1334,67,68,70,112,46,87,127,147,113,54,110,187,57,27,62
2세,1270,57,60,65,106,53,70,110,137,142,57,110,163,56,26,58
3세,1483,63,82,61,100,49,84,141,154,169,76,136,198,73,27,70
4세,1479,54,97,60,113,47,112,143,160,183,65,128,165,64,28,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106세,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
107세,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
108세,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
109세,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
110세 이상,4,0,0,0,2,0,0,1,0,0,0,1,0,0,0,0

In [6]:
table = pd.DataFrame(index = ['유아(만0~7세)','노인(만65세이상)', '총인구'],columns = df.columns)

In [7]:
for i,column in enumerate(table.columns) :
    value_list = []
    kids = df.iloc[:8,i].sum()
    silvers = df.iloc[65:,i].sum()
    total = df.iloc[:,i].sum()
    value_list.append(kids)
    value_list.append(silvers)
    value_list.append(total)
    table[column] = value_list

In [8]:
table

,광진구,중곡제1동,중곡제2동,중곡제3동,중곡제4동,능동,구의제1동,구의제2동,구의제3동,광장동,자양제1동,자양제2동,자양제3동,자양제4동,화양동,군자동
유아(만0~7세),12283,480,692,521,882,395,730,1104,1280,1717,578,1020,1577,509,248,550
노인(만65세이상),53737,2619,3410,2937,5411,1668,3312,4502,4368,3986,3621,4196,4467,3749,2332,3159
총인구,337416,15299,20999,15945,28035,11180,23387,26043,28211,34168,21862,23946,27553,17926,23437,19425

In [9]:
table.loc['유아비율(%)'] = table.loc['유아(만0~7세)']/table.loc['총인구']*100

In [10]:
table.loc['노인비율(%)'] = table.loc['노인(만65세이상)']/table.loc['총인구']*100

In [11]:
table = table.transpose()
table

       유아(만0~7세)  노인(만65세이상)       총인구   유아비율(%)    노인비율(%)
광진구      12283.0     53737.0  337416.0  3.640313  15.926038
중곡제1동      480.0      2619.0   15299.0  3.137460  17.118766
중곡제2동      692.0      3410.0   20999.0  3.295395  16.238869
중곡제3동      521.0      2937.0   15945.0  3.267482  18.419567
중곡제4동      882.0      5411.0   28035.0  3.146067  19.300874
능동         395.0      1668.0   11180.0  3.533095  14.919499
구의제1동      730.0      3312.0   23387.0  3.121392  14.161714
구의제2동     1104.0      4502.0   26043.0  4.239143  17.286795
구의제3동     1280.0      4368.0   28211.0  4.537237  15.483322
광장동       1717.0      3986.0   34168.0  5.025170  11.665886
자양제1동      578.0      3621.0   21862.0  2.643857  16.562986
자양제2동     1020.0      4196.0   23946.0  4.259584  17.522760
자양제3동     1577.0      4467.0   27553.0  5.723515  16.212391
자양제4동      509.0      3749.0   17926.0  2.839451  20.913757
화양동        248.0      2332.0   23437.0  1.058156   9.950079
군자동        550.0      3159.0   19425.0  2.831403  16.262548

In [12]:
table.sort_values(by ='노인비율(%)', ascending=False)

       유아(만0~7세)  노인(만65세이상)       총인구   유아비율(%)    노인비율(%)
자양제4동      509.0      3749.0   17926.0  2.839451  20.913757
중곡제4동      882.0      5411.0   28035.0  3.146067  19.300874
중곡제3동      521.0      2937.0   15945.0  3.267482  18.419567
자양제2동     1020.0      4196.0   23946.0  4.259584  17.522760
구의제2동     1104.0      4502.0   26043.0  4.239143  17.286795
중곡제1동      480.0      2619.0   15299.0  3.137460  17.118766
자양제1동      578.0      3621.0   21862.0  2.643857  16.562986
군자동        550.0      3159.0   19425.0  2.831403  16.262548
중곡제2동      692.0      3410.0   20999.0  3.295395  16.238869
자양제3동     1577.0      4467.0   27553.0  5.723515  16.212391
광진구      12283.0     53737.0  337416.0  3.640313  15.926038
구의제3동     1280.0      4368.0   28211.0  4.537237  15.483322
능동         395.0      1668.0   11180.0  3.533095  14.919499
구의제1동      730.0      3312.0   23387.0  3.121392  14.161714
광장동       1717.0      3986.0   34168.0  5.025170  11.665886
화양동        248.0      2332.0   23437.0  1.058156   9.950079

In [13]:
table.sort_values(by ='유아비율(%)', ascending=False)

       유아(만0~7세)  노인(만65세이상)       총인구   유아비율(%)    노인비율(%)
자양제3동     1577.0      4467.0   27553.0  5.723515  16.212391
광장동       1717.0      3986.0   34168.0  5.025170  11.665886
구의제3동     1280.0      4368.0   28211.0  4.537237  15.483322
자양제2동     1020.0      4196.0   23946.0  4.259584  17.522760
구의제2동     1104.0      4502.0   26043.0  4.239143  17.286795
광진구      12283.0     53737.0  337416.0  3.640313  15.926038
능동         395.0      1668.0   11180.0  3.533095  14.919499
중곡제2동      692.0      3410.0   20999.0  3.295395  16.238869
중곡제3동      521.0      2937.0   15945.0  3.267482  18.419567
중곡제4동      882.0      5411.0   28035.0  3.146067  19.300874
중곡제1동      480.0      2619.0   15299.0  3.137460  17.118766
구의제1동      730.0      3312.0   23387.0  3.121392  14.161714
자양제4동      509.0      3749.0   17926.0  2.839451  20.913757
군자동        550.0      3159.0   19425.0  2.831403  16.262548
자양제1동      578.0      3621.0   21862.0  2.643857  16.562986
화양동        248.0      2332.0   23437.0  1.058156   9.950079

In [14]:
table.to_csv('kids_silvers_rate.csv')